.container {
  padding: 0 0 1em 0;
  margin-top: 0.5em;
  width: 282px;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capa {
  width: 100%;
}

.container h2,
.favoritar {
  padding: 0 1em;
}

.favoritar {
  width: 25px;
  transition: opacity 0.3 ease;
}

.favoritar:hover{
    cursor: pointer;
}
.favoritar.favorito {
    opacity: 0.7 ease; 
  }